*{
    border-radius: 5px; 
    font-size: large;
}
#editorPieza{
    display:inline;
    float: left;
}
.cara{
    margin: 5px 0;
    font-size: 40px;
}                               

#container{
    width: 1000px;
    margin: 0 auto;
}
#title{
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,0) 100%);
    color: black;
    margin: 5px;
    display: inline;
    font-style: italic;
}
#header a,#user{
    font-size: 0.7em;
    color: black;
    display: inline;
    float: right;
    margin:  0;
}
body{
    background: -webkit-linear-gradient(left, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 0%,rgba(161,219,255,1) 100%);
    color: white;
    font-weight: bolder;

}
.clear{
    clear: both;
}
#pnlData{
    border-bottom: solid;
    background-color: gray;
    margin-top: 0;
}
#pnlData #patientName{
    margin: 0;
    display: inline;
}
#idTreatment{
    display: inline;
    float: right;
    color: white;
    margin-right: 20px;

}
#aplication{
    position: relative;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%);
    border: solid seashell;
    border-radius: 10px;
    width: 1000px;
    height: 570px;
}
.button{
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    background: -webkit-linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); 
    margin: 10px;


}
.block{
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 1;
    background-color: #000000;
    opacity: 0.5;
    display: none;
    width: 100%;
    height: 100%;
}
canvas{
    display: block;
    margin: 5px;
}
.enfoque{
    box-shadow: 5px white;
    border-color: #D41820;
    background-color: rgba(192,192,192,0.4);
    border-radius: 5px;
}