#item_description{ 
    display: inline-block;
    color: black;
    height: 20px;
    width: 744px;
    text-align: center;
}
#odontograma{
    max-height: 500px;
    height: 500px;
    width: 1000px;
    float: left;
}
#editor{
    float: left;
    width: 1000px;
}
#slide{
    width: 2400px;
    position: relative;
}
#slideContainer{
    overflow: hidden;
    position: relative;
}
/*estilo editor*/
#items{
    max-height: 510px;
    width: 750px;
    padding: 0px;
    float: left;
    color: white;
    border-top: none;
    border-radius: 3px;
}
#listadoPiezas input,
#items input {
    position: absolute;
    visibility: hidden;
}

#items > #title_state {
    font-size: 30px;
    margin: 0;
    color: white;
    font-weight: bold;
    text-align: center;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 67%,rgba(0,0,0,0) 100%);

}
#items > input:hover + label {
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,0) 62%,rgba(255,255,255,0) 100%);
    color: black;
}
.state_items{
    height: 450px;
    padding: 5px;
    overflow-y: scroll;
     border: solid white;

}
#canvasPieza{
    float: left;
    display: block;
    margin: 15px;
    width: 200px;
}
.iconos{
    width: 80px;
    height: 80px;
    border: solid;
    border-radius: 3px;
}
.piezaSeleccionableContainer input:checked + label img,
.tabs input:checked + label img {
    background: -webkit-linear-gradient(top, rgba(165,0,24,0.65) 1%,rgba(8,0,1,0.65) 95%,rgba(0,0,0,0) 100%);
}
#ventanaCambioPieza{
    width: 500px;
    height: 450px;
    z-index: 2;
    position: absolute;
    top: 10px;
    margin-left: 270px;
    background: black url(../img/fondo1.png) 50% 50% repeat;
    display: none;
    border: solid white 2px;
}
.imgPieza{
    height: 200px;
    width: 60px;
    margin: 0 30px;
}
.descripcionPiezaCambiar label{
    display: block;
    text-align: center;
}
.descripcionPiezaCambiar{
    width: 120px;
    height: 300px;
    display: inline-block;
    float: left;
    left: 10px;
    border: solid white;
    margin: 10px 10px;
}

#containerPiezas{
    float: left;
    margin-left: 100px;

}
#cambioPiezaTitulo{
    margin: 2px 0;
    text-align: center;
}
.botonesCentrados{
    margin-left: 40px;
}