#item_description{ 
    display: inline-block;
    color: black;
    height: 20px;
    width: 744px;
    text-align: center;
}
#odontograma{
    max-height: 500px;
    height: 500px;
    width: 1000px;
    float: left;
}
#editor{
    float: left;
    width: 1000px;
}
#slide{
    width: 2400px;
    position: relative;
}
#slideContainer{
    overflow: hidden;
    position: relative;
    width: 1000px;
}
/*estilo editor*/
#items{
    max-height: 510px;
    width: 750px;
    padding: 0px;
    float: left;
    color: white;
    border-top: none;
    border-radius: 3px;
}
#listadoPiezas input,
#items input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}

#items > #title_state {
    font-size: 30px;
    margin: 0;
    color: white;
    font-weight: bold;
    text-align: center;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 67%,rgba(0,0,0,0) 100%);

}
#items > input:hover + label {
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,0) 62%,rgba(255,255,255,0) 100%);
    color: black;
}
.state_items,.treatments_items{
    height: 450px;
    padding: 5px;
    overflow-y: scroll;
    border: solid white;

}
#canvasPieza{
    float: left;
    display: block;
    margin: 15px;
    width: 200px;
}
.iconos{
    width: 80px;
    height: 80px;
    border: solid;
    border-radius: 3px;
}
.piezaSeleccionableContainer input:checked + label img,
input:checked + label img,input:checked + .item_prestacion {
    background: -webkit-linear-gradient(top, rgba(165,0,24,0.65) 1%,rgba(8,0,1,0.65) 95%,rgba(0,0,0,0) 100%);
    color: white;
}
#ventanaCambioPieza, #windowDetail{
    width: 500px;
    height: 450px;
    max-height: 450px;
    z-index: 2;
    position: absolute;
    top: 10px;
    margin-left: 270px;
    background: black url(../img/fondo1.png) 50% 50% repeat;
    display: none;
    box-shadow: 0px 0px 20px 5px #7E7E7D;
    border: solid white 2px;
}
.imgPieza{
    height: 200px;
    width: 60px;
    margin: 0 30px;
}
.descripcionPiezaCambiar label{
    display: block;
    text-align: center;
}
.descripcionPiezaCambiar{
    width: 120px;
    height: 300px;
    display: inline-block;
    float: left;
    left: 10px;
    border: solid white;
    margin: 10px 10px;
}

#containerPiezas{
    float: left;
    margin-left: 100px;
}
.botonesCentrados{
    margin-left: 10px;
}
.table_container table{
    border-collapse: collapse;
    width: 450px;
    margin: 15px 25px;
    max-height: 100px;
    height: auto;
    text-align: center;
    border: solid 1px white;

}
.table_container thead th{
    background: -webkit-linear-gradient(top, rgba(165,0,24,0.65) 1%,rgba(8,0,1,0.65) 95%,rgba(0,0,0,0) 100%);
    font-size: xx-large;
    border-bottom: solid 1px white;
}
.table_container thead tr{
    width: 100%;
    display: block;
}
.table_container table tbody{
    width: 450px;
    display:block;
    height: 300px;
    overflow: auto;
}
.table_container .colCara{
    width: 80px;
    min-width: 80px;
    border-bottom: dashed 1px white;
    font-size: x-large;
}
.table_container .colFactor{
    width: 370px;
    overflow-x:  hidden;
    border-bottom: dashed 1px white;
    font-size: large;
}

